.html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  background-image: url(../images/waluty.jpg);
  background-size: 1110px;
  background-repeat: no-repeat;
  background-position: center;
}